.sign-in {
    width: 30em;
    display: flex;
    flex-direction: column;
    background-color: #ffffffaa;
    padding: 1em;

    .title {
        margin: 0.8em 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}