.category-page {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 2.2em;
        text-transform: uppercase;
        margin: 0 0 1em 0;
    }

    .items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: -1em;
        .category-item {
            flex-basis: 19em;
            margin: 1em 1em;
        }
    }
}