.cart-icon {
    $cart-icon-size: 3em;
    $shopping-icon-size: $cart-icon-size * 0.65;
    $item-count-size: $shopping-icon-size * 0.45;

    width: $cart-icon-size;
    height: $cart-icon-size;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon {
        width: $shopping-icon-size;
        height: $shopping-icon-size;
    }

    .item-count {
        position: absolute;
        font-size: $item-count-size;
        font-weight: bold;
        margin-top: ($shopping-icon-size - $item-count-size) / 2.9;
        bottom: auto;
        top: auto;
    }
}