.checkout-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    img {
        width: 6em;
        height: 7em;
        object-fit: cover;
    }

    .quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        .increase, .decrease {
            font-weight: bold;
            margin: 0 1em;
        }

    }

    .remove, .increase, .decrease {
        cursor: pointer;
        &:hover {
            color: darkred;
        }
    }
}