@import url('https://fonts.googleapis.com/css?family=Quicksand:600|Sacramento&display=swap');
.app {
    padding: 1em 3em;
    font-family: 'Quicksand', sans-serif;

    a {
        text-decoration: none;
        color: black;
    }

    * {
        box-sizing: border-box;
    }
}